<section class="about-section" id="about-us">
  <div class="container">
    <h2 class="about-title">
      About <span class="about-title-span-color">Us</span>
    </h2>
    <div class="about-block">
      <picture class="about-picture">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/desk-img/Rectangle_6_desk@1x.png 1x,
            ./images/desk-img/Rectangle_6_desk@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tab-img/Rectangle_6_tab@1x.png 1x,
            ./images/tab-img/Rectangle_6_tab@2x.png 2x
          "
        />
        <source
          media="(max-width: 767.98px)"
          srcset="
            ./images/mob-img/Rectangle_6_mob@1x.png 1x,
            ./images/mob-img/Rectangle_6_mob@2x.png 2x
          "
        />
        <img
          src="./images/mob-img/Rectangle_6_mob@1x.png"
          alt="Rectangle"
          width=""
          height=""
          loading="lazy"
        />
      </picture>
      <div class="about-description-block">
        <p class="about-description-text">
          Our photography school is designed to teach you everything you need to
          know about this magical art. Regardless of your experience or skill
          level, we offer a wide range of courses to suit your needs and
          interests. Our teaching team consists of experienced photographers who
          have many years of experience in this field. They strive not only to
          share their knowledge, but also to inspire you to develop and express
          your unique creativity.
        </p>
        <p class="about-description-text">
          Our courses cover a wide range of topics, from the basics of
          photography and equipment use to professional image processing and
          creating impressive compositions. You will have the opportunity to
          learn the technical aspects of photography, discover your own style
          and develop your own visual language.
        </p>
      </div>
    </div>
  </div>
</section>