<footer class="footer-section" id="footer">
  <picture class="footer-picture">
    <source
      media="(min-width: 1280px)"
      srcset="
        ./images/mob-img/footer_bg_line_desk@1x.png 1x,
        ./images/mob-img/footer_bg_line_desk@2x.png 2x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ./images/mob-img/footer_bg_line_tab@1x.png 1x,
        ./images/mob-img/footer_bg_line_tab@2x.png 2x
      "
    />
    <source
      media="(max-width: 767.98px)"
      srcset="
        ./images/mob-img/footer_bg_line_mob@1x.png 1x,
        ./images/mob-img/footer_bg_line_mob@2x.png 2x
      "
    />
    <img
      src="./images/mob-img/footer_bg_line_mob@1x.png"
      alt=""
      width=""
      height=""
      loading="lazy"
    />
  </picture>
  <div class="container footer-container">
    <div class="footer-first-section">
      <h2 class="footer-logo">Focus.Frame</h2>
      <div class="footer-address-container">
        <address class="footer-address">
          <ul>
            <li class="link footer-tel">
              <a href="tel:+380665438912" class="link footer-address-link"
                >UK: +38 066 543 8912</a
              >
            </li>
          </ul>
          <p class="footer-address-link-two">Ukraine, Kyiv</p>
        </address>
      </div>
    </div>
    <div class="footer-block">
      <div>
        <ul class="list footer-social-media">
          <li>
            <a
              class="link footer-social-links"
              href="https://www.instagram.com/goitclub/"
              >INSTAGRAM</a
            >
          </li>
          <li>
            <a
              class="link footer-social-links"
              href="https://www.facebook.com/goITclub/"
              >FACEBOOK</a
            >
          </li>
          <li>
            <a
              class="link footer-social-links"
              href="https://www.youtube.com/c/GoIT"
              >YOUTUBE</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="list footer-navigation">
          <li><a class="navigation-classes">ABOUT US</a></li>
          <li><a class="navigation-classes">OUR COURSES</a></li>
          <li><a class="navigation-classes">OUR MENTORS</a></li>
          <li><a class="navigation-classes">REVIEWS</a></li>
          <li><a class="navigation-classes">CONTACTS</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-form-container">
      <form class="footer-form">
        <label class="footer-label">
          <input
            class="footer-input"
            type="email"
            name="email"
            placeholder="Enter your email"
            pattern="/0-4"
          />
        </label>
        <button class="footer-button" type="submit">Go</button>
      </form>
    </div>
    <div class="footer-license">
      <p class="footer-privacy">Privacy Policy Public Offering Agreement</p>
      <p class="footer-rights">
        2023 Focus Frame
        <span>&#169;</span>All rights reserved
      </p>
    </div>
  </div>
</footer>
