<footer class="footer-section" id="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-first-section">
        <a class="footer-logo-link link" href="./index.html">
          <svg class="footer-logo">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="footer-address">
          <ul class="footer-address-list list">
            <li class="footer-address-item">
              <a class="footer-address-item-link link" href="tel:+380665438912" type="tel">UK: +38 066 543 8912</a>
            </li>
            <li class="footer-address-item">
              <a class="footer-address-item-link link" href="https://maps.google.com/" type="address">Ukraine, Kyiv</a>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-block">
          <ul class="list footer-social-media">
            <li class="footer-social-container">
              <a class="link footer-social-links" href="https://www.instagram.com/goitclub/">INSTAGRAM</a>
            </li>
            <li class="footer-social-container">
              <a class="link footer-social-links" href="https://www.facebook.com/goITclub/">FACEBOOK</a>
            </li>
            <li class="footer-social-container">
              <a class="link footer-social-links" href="https://www.youtube.com/c/GoIT">YOUTUBE</a>
            </li>
          </ul>
          <ul class="list footer-navigation">
            <li class="footer-social-container">
              <a class="navigation-classes link" href="#about-us">ABOUT US</a>
            </li>
            <li class="footer-social-container">
              <a class="navigation-classes link" href="#our-courses">OUR COURSES</a>
            </li>
            <li class="footer-social-container">
              <a class="navigation-classes link" href="#our-mentors">OUR MENTORS</a>
            </li>
            <li class="footer-social-container">
              <a class="navigation-classes link" href="#reviews">REVIEWS</a>
            </li>
            <li class="footer-social-container">
              <a class="navigation-classes link" href="#footer">CONTACTS</a>
            </li>
          </ul>
      </div>
      <form class="footer-form">
        <label class="footer-label">
          <input class="footer-input" type="email" name="email" placeholder="Enter your email" pattern="[\x1F-\xBF]*" />
        </label>
        <button class="footer-button" type="submit">Go</button>
      </form>
    </div>
      <div class="footer-license">
        <ul class="footer-privacy-list list">
          <li class="footer-privacy-item">
            <a href="" class="footer-privacy-link link">Privacy Policy</a>
          </li>
          <li class="footer-privacy-item">
            <a href="" class="footer-privacy-link link">Public Offering Agreement</a>
          </li>
        </ul>
        <p class="link footer-rights">
          2023 Focus Frame <span>&#169;</span>All rights reserved
        </p>
    </div>
  </div>
</footer>