<footer class="footer-section">
  <div class="container">
    <h2 class="footer-logo">Focus.Frame</h2>
    <div class="footer-contacts">
      <address>
        <ul>
          <li class="footer-tel">
            <a href="tel:+380665438912" class="link footer-address-link"
              >UK: +38 066 543 8912</a
            >
          </li>
        </ul>
        <p>Ukraine, Kyiv</p>
      </address>
    </div>
    <div class="footer-social-media">
      <ul>
        <li><a>INSTAGRAM</a></li>
        <li><a>FACEBOOK</a></li>
        <li><a>YOUTUBE</a></li>
      </ul>
    </div>
    <div class="footer-navigation">
      <ul>
        <li><a>ABOUT US</a></li>
        <li><a>OUR COURSES</a></li>
        <li><a>OUR MENTORS</a></li>
        <li><a>REVIEWS</a></li>
        <li><a>CONTACTS</a></li>
      </ul>
    </div>
    <div class="footer-form"></div>
    <form>
      <label>
        <input type="email" name="email" placeholder="Enter your email" />
        <button type="submit">Go</button>
      </label>
    </form>
    <div class="footer-privacy">
      <p>Privacy Policy Public Offering Agreement</p>
      <p>
        2023 Focus Frame
        <span>&#169;</span>All rights reserved
      </p>
    </div>
  </div>
</footer>
