<section class="mentors-section">
  <div class="container">
    <h2 class="mentors-title">Our <span class="accent-title">Mentors</span></h2>
    <ul class="mentort-list list">
      <li class="mentors-item">
        <img
          class="mentors-img"
          src="./images/all-devices-img/girl_1_@1x.png"
          srcset="
            ./images/all-devices-img/girl_1_@1x.png 1x,
            ./images/all-devices-img/girl_1_@2x.png 2x
          "
          alt="Emilia Smith"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-name">Emilia Smith</h3>
        <p class="mentors-text">1.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-img"
          src="./images/all-devices-img/boy_1_@1x.png"
          srcset="
            ./images/all-devices-img/boy_1_@1x.png 1x,
            ./images/all-devices-img/boy_1_@2x.png 2x
          "
          alt="Alex Lebedev"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-name">Alex Lebedev</h3>
        <p class="mentors-text">3.5 years of experience</p>
      </li>

      <li class="mentors-item">
        <img
          class="mentors-img"
          src="./images/all-devices-img/girl_2_@1x.png"
          srcset="
            ./images/all-devices-img/girl_2_@1x.png 1x,
            ./images/all-devices-img/girl_2_@2x.png 2x
          "
          alt="Mia Dubrovska"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-name">Mia Dubrovska</h3>
        <p class="mentors-text">2.0 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-img"
          src="./images/all-devices-img/boy_2_@1x.png"
          srcset="
            ./images/all-devices-img/boy_2_@1x.png 1x,
            ./images/all-devices-img/boy_2_@2x.png 2x
          "
          alt="Eliot Kovalev"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-name">Eliot Kovalev</h3>
        <p class="mentors-text">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
