<section id="our-courses" class="courses-section">
  <div class="container">
    <div class="courses-head">
      <h2 class="courses-titel">
        Our <span class="courses-titel-color">Courses</span>
      </h2>
      <p class="courses-subtitel">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <ol class="list courses-cards-set">
      <li class="courses-cards-box courses-cards-items">
        <div class="courses-cards-block-1">
          <p class="courses-cards-numbers">01</p>
          <a class="link courses-link" href="#sign-up.html">
            <svg class="courses-link-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-arrow-narrow-up-right"></use>
            </svg>
          </a>
        </div>
        <h3 class="courses-cards-titel">Basics of photography</h3>
        <p class="courses-cards-subtitel">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </li>
      <li class="courses-cards-box">
        <div class="courses-cards-block-1">
          <p class="courses-cards-numbers">02</p>
          <a class="link courses-link" href="#sign-up.html">
            <svg class="courses-link-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-arrow-narrow-up-right"></use>
            </svg>
          </a>
        </div>
        <h3 class="courses-cards-titel">Landscape photography</h3>
        <p class="courses-cards-subtitel">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </li>
      <li class="courses-cards-box">
        <div class="courses-cards-block-1">
          <p class="courses-cards-numbers">03</p>
          <a class="link courses-link" href="#sign-up.html">
            <svg class="courses-link-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-arrow-narrow-up-right"></use>
            </svg>
          </a>
        </div>
        <h3 class="courses-cards-titel">Portrait photography</h3>
        <p class="courses-cards-subtitel">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </li>
    </ol>
  </div>
</section>