<section class="reviews-section">   
    
    <div class="div-reviews container">
        <h2 class="h-two-reviews">Reviews</h2>
        <ul class="ull-reviews list">
            <li class="li-reviews">
                <div class="students-reviews">
                    <img 
                        class="img-reviews"
                        srcset="./images/desk-img/user_1_desk@1x.png 1x, ./images/desk-img/user_1_desk@2x 2x"
                        src="./images/desk-img/user_1_desk@1x.png"
                        alt="Abraham Baker"
                        width="56"
                        height="56"
                    />
                 
                    <h3 class="h-three-reviews">Abraham Baker</h3>
                    <p class="p-students-reviews">Student</p>
                                <ul class="list rating-reviews">
                                    <li class="star-reviews" >
                                        <picture class="picture-reviews">
                                            <svg class="svg-reviews" width="20" height="20">
                                                <use href="./images/sprite.svg#icon-star"></use>
                                            </svg>
                                        </picture>    
                                    </li>
                                    <li class="star-reviews">
                                        <picture class="picture-reviews">
                                            <svg class="svg-reviews" width="20" height="20">
                                                <use href="./images/sprite.svg#icon-star"></use>
                                            </svg>
                                        </picture>    
                                    </li>
                                    <li class="star-reviews">
                                        <picture class="picture-reviews">
                                            <svg class="svg-reviews" width="20" height="20">
                                                <use href="./images/sprite.svg#icon-star"></use>
                                            </svg>
                                        </picture>    
                                    </li>
                                    <li class="star-reviews">
                                        <picture class="picture-reviews">
                                            <svg class="svg-reviews" width="20" height="20">
                                                <use href="./images/sprite.svg#icon-star"></use>
                                            </svg>
                                        </picture>    
                                    </li>
                                    <li class="star-reviews">
                                        <picture class="picture-reviews">
                                            <svg class="svg-reviews" width="20" height="20">
                                                <use href="./images/sprite.svg#icon-star"></use>
                                            </svg>
                                        </picture>    
                                    </li>
                                </ul>
                    <p class="p-reviews">
                        I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and discover my own style.
                    </p>
                </div>
            </li>
            <li class="li-reviews">
                <div class="students-reviews">
                    <img 
                        class="img-reviews"
                        srcset="./images/desk-img/user_2_desk@1x.png 1x, ./images/desk-img/user_2_desk@2x 2x"
                        src="./images/desk-img/user_2_desk@1x.png" 
                        alt="Amanda Lowery"
                        width="56"
                        height="56"
                    />
                    <ul class="list rating-reviews">
                        <li class="star-reviews" >
                            <picture class="picture-reviews">
                                <svg class="svg-reviews" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-star"></use>
                                </svg>
                            </picture>    
                        </li>
                        <li class="star-reviews">
                            <picture class="picture-reviews">
                                <svg class="svg-reviews" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-star"></use>
                                </svg>
                            </picture>    
                        </li>
                        <li class="star-reviews">
                            <picture class="picture-reviews">
                                <svg class="svg-reviews" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-star"></use>
                                </svg>
                            </picture>    
                        </li>
                        <li class="star-reviews">
                            <picture class="picture-reviews">
                                <svg class="svg-reviews" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-star"></use>
                                </svg>
                            </picture>    
                        </li>
                        <li class="star-reviews">
                            <picture class="picture-reviews">
                                <svg class="svg-reviews" width="20" height="20">
                                    <use href="./images/sprite.svg#icon-star"></use>
                                </svg>
                            </picture>    
                        </li>
                    </ul>
                    <h3 class="h-three-reviews">Amanda Lowery</h3>
                    <p class="p-students-reviews">Student</p>
                   
                    <p class="p-reviews">
                        The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand different styles of photography.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>