<section class="sign-up-section">
    <div class="sign-up-section-container container">
        <div class="column">
            <h2 class="sign-up-section-headline">Sign <span class="sign-up-section-up">Up</span></h2>
            <p class="sign-up-section-tagline">
                Please use the form below to contact us. Enter your name, email, and message and we'll get back to you
                shortly.</p>
            <form class="sign-up-section-form" action="#">
                <input class="form-input-name sign-up-section-form-input" name="user-name" type="text" id="user-name"
                    placeholder="Enter your name">
                <input class="form-input-tel sign-up-section-form-input" name="user-phone" type="tel" id="user-phone"
                    placeholder="Enter your email">
                <textarea class="form-input-message sign-up-section-form-input" name="user-message" id="user-message"
                    rows="5" placeholder="Message"></textarea>
                <button class="sign-up-section-button" type="submit">Send</button>
            </form>
            <p class="sign-up-section-privacy-policy">
                By clicking on “Send” button, you agree to our <span class="privacy-policy-span">Privacy Policy, <br
                        class="privacy-policy-br"></span> and allow Promodo to use this information for marketing
                purposes.
            </p>
        </div>
        <div class="sign-up-section-img">
            <div class="img-block-left">
                <picture>
                    <source
                        srcset="./images/desk-img/sign_up_img_1_desk@1x.png x1, ./images/desk-img/sign_up_img_1_desk@2x.png x2"
                        media="(min-width:1280px)">
                    <img class="cartoon-left" src="./images/desk-img/sign_up_img_1_desk@1x.png" width="150px"
                        height="142px" alt="photo">
                </picture>
            </div>
            <div class="img-block-right">
                <picture>
                    <source
                        srcset="./images/desk-img/sign_up_img_2_desk@1x.png x1, ./images/desk-img/sign_up_img_2_desk@2x.png x2"
                        media="(min-width:1280px)">
                    <img class="cartoon-right" src="./images/desk-img/sign_up_img_2_desk@1x.png" width="240px"
                        height="296px" alt="photo">
                </picture>
            </div>
        </div>
    </div>
</section>