<section class="sign-up-section" id="sign-up">
    <div class="sign-up-section-container container">
        <div class="column">
            <h2 class="sign-up-section-headline">Sign <span class="sign-up-section-up">Up</span></h2>
            <p class="sign-up-section-tagline">
                Please use the form below to contact us. Enter your name, email, and message and we'll get back to you
                shortly.</p>
            <form class="sign-up-section-form" action="#">
                <input class="form-input-name sign-up-section-form-input" name="user-name" type="text" id="user-name"
                    placeholder="Enter your name" pattern="^[a-zA-Z]+$">
                <input class="form-input-tel sign-up-section-form-input" name="user-phone" type="email" id="user-phone"
                    placeholder="Enter your email" pattern="[\x1F-\xBF]*">
                <textarea class="form-input-message sign-up-section-form-input" name="user-message" id="user-message"
                    rows="5" placeholder="Message"></textarea>
                <button class="sign-up-section-button" type="submit">Send</button>
            </form>
            <p class="sign-up-section-privacy-policy">
                By clicking on “Send” button, you agree to our <a class="privacy-policy-link" href="">Privacy Policy<br
                        class="privacy-policy-br"></a>, and allow Promodo to use this information for marketing
                purposes.
            </p>
        </div>
        <div class="sign-up-section-img">
            <div class="img-block-left">
                    <img class="cartoon-left" src="./images/desk-img/sign_up_img_1_desk@1x.png"
                        srcset="./images/desk-img/sign_up_img_1_desk@1x.png 1x, ./images/desk-img/sign_up_img_1_desk@2x.png 2x"
                        alt="Lens" width="200" height="204" loading="lazy" />
            </div>
            <div class="img-block-right">
                    <img class="cartoon-right" src="./images/desk-img/sign_up_img_2_desk@1x.png"
                        srcset="./images/desk-img/sign_up_img_2_desk@1x.png 1x, ./images/desk-img/sign_up_img_2_desk@2x.png 2x"
                        alt="Camera" width="240" height="296" loading="lazy" />
            </div>
        </div>
    </div>
</section>