<section class="sign-up-section">
    <div class="sign-up-section_container">
        <div class="column">
            <h2 class="sign-up-section_headline">Sign 
                <span class="sign-up-section_up">
                Up

                </span>
            </h2>
            <p class="sign-up-section_tagline">
                Please use the form below to contact us. Enter <br class="tagline_br-tablet"> your name, email,<br class="tagline_br-mob"> and message and we'll get <br class="tagline_br-tablet">back to you shortly.

            </p>
            <form class="sign-up-section_form" action="#">
                <input class="form_input-name sign-up-section_form_input" name="user-name" type="text" id="user-name" placeholder="Enter your name">
                <input class="form_input-tel sign-up-section_form_input" name="user-phone" type="tel" id="user-phone" placeholder="Enter your email">
                <textarea class="form_input-message sign-up-section_form_input" name="user-message" id="user-message"  rows="5" placeholder="Message"></textarea>
                <button class="sign-up-section_button" type="submit">Send</button>
            </form>
            <p class="sign-up-section_privacy-policy">
                By clicking on “Send” button, you agree to our <span class="privacy-policy_span">Privacy Policy, <br class="privacy-policy_br"></span> and allow Promodo to use this information for marketing
                purposes.
            </p>
        </div>
        <div class="sign-up-section-img">
            <div class="img-block-left">
                <picture>
                    <source srcset="./images/desk-img/sign_up_img_1_desk@1x.png x1, ./images/desk-img/sign_up_img_1_desk@2x.png x2"
                        media="(min-width:1280px)">
                    <img class="cartoon-left" src="./images/desk-img/sign_up_img_1_desk@1x.png" width="150px" height="142px" alt="photo">
                </picture>
            </div>
            <div class="img-block-right">
                <picture>
                    <source srcset="./images/desk-img/sign_up_img_2_desk@1x.png x1, ./images/desk-img/sign_up_img_2_desk@2x.png x2"
                        media="(min-width:1280px)">
                    <img class="cartoon-right" src="./images/desk-img/sign_up_img_2_desk@1x.png" width="240px" height="296px" alt="photo">
                </picture>

            </div>

        </div>
       

    </div>
</section> 