.footer-logo {
  color: #fff;
}

.footer-section {
  background-image: url(../images/mob-img/footer_bg_line_mob@1x.png);
}

.footer-address-container {
  margin-top: 20px;
  display: flex;
}

.footer-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-address-link {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
}

.footer-address-link-two {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.footer-block {
  margin-top: 40px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: start;
  text-align: left;
  gap: 40px;
}

.footer-form {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: start;
  gap: 8px;
}

.footer-input {
  width: 267px;
  height: 60px;
  border-radius: 12px;
  border: 1px solid #fff;
  background: #fff;
}

.footer-button {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #1d1d1d;
  background: #1d1d1d;
}

.footer-button-text {
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.footer-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.navigation-classes {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.navigation-classes:hover,
.navigation-classes:focus {
  transition: var(--trans-bezier);
  color: var(--brown);
}

.footer-privacy {
  color: #fff;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  text-align: start;
}

.footer-rights {
  width: 116px;
  color: #fff;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  text-align: start;
}

.footer-license {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
}

.footer-social-links {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.footer-social-links:hover,
.footer-social-links:focus {
  transition: var(--trans-bezier);
  color: var(--brown);
}

@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    text-align: left;
  }

  .footer-address-container {
    margin-top: 25px;
  }

  .footer-logo {
  }

  .footer-block {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 75px;
    flex-wrap: nowrap;
  }

  .footer-form-container {
  }

  .footer-input {
    width: 178px;
  }

  .footer-license {
    margin-top: 74px;
  }

  .footer-form {
    margin-left: 46px;
  }

  .footer-navigation {
    text-align: start;
  }

  .footer-license {
    gap: 399px;
  }
  .footer-privacy {
  }
}
