/* ROOT */

:root {
    --black: #121212;
    --brown: #BEA69E;
    --white: #FFF;
    --bg-black: #1D1D1D;
    --bg-black-gradient: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
    --trans-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* GLOBAL STYLES */

body {
    font-family: DM Sans;
    color: var(--white);

    background-color: var(--black);
}

.container {
    max-width: 335px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 704px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1080px;
    }
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;

    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link,
.list {
    text-decoration: none;
    list-style: none;
}

a,
h1,
h2,
h3,
p,
ul,
ol {
    padding: 0;
    margin: 0;
}