.courses-head {
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .courses-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 58px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1280px) {
    .courses-head {
        gap: 410px;
    }
}

.courses-titel {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
    .courses-titel {
        min-width: 265px;
        margin-bottom: 0;
        font-size: 48px;
        line-height: 1.12;
    }
}

.courses-titel-color {
    color: var(--brown);
}

.courses-subtitel {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
    .courses-subtitel {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    .courses-cards-set {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }
}

@media only screen and (min-width: 1280px) {
    .courses-cards-items {
        width: calc((100% - 20px * 2) / 3);
    }
}

.courses-cards-box {
    padding: 28px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
}

@media only screen and (min-width: 768px) {
    .courses-cards-box {
        padding: 32px;
    }
}

.courses-cards-box:nth-child(1),
.courses-cards-box:nth-child(2) {
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {

    .courses-cards-box:nth-child(1),
    .courses-cards-box:nth-child(2) {
        margin-bottom: 0;
    }
}

.courses-cards-block-1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
    .courses-cards-block-1 {
        margin-bottom: 32px;
    }
}

.courses-cards-numbers {
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
}

.courses-link {
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
    background-color: var(--bg-black);
    transition: background-color var(--trans-bezier), stroke var(--trans-bezier);
}

.courses-link:hover,
.courses-link:focus,
.courses-link:active {
    background-color: var(--brown);
}

.courses-link-icon {
    fill: rgba(0,0,0,0);
    stroke: #777777;
}

.courses-link-icon:hover,
.courses-link-icon:focus,
.courses-link-icon:active {
    stroke: var(--white);
}

.courses-cards-titel {
    max-width: 265px;
    margin-bottom: 164px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
}

@media only screen and (min-width: 768px) {
    .courses-cards-titel {
        margin-bottom: 180px;
    }
}

.courses-cards-subtitel {
    max-width: 276px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
    .courses-cards-subtitel {
        font-size: 16px;
    }
}