.mentors-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;

  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .mentors-title {
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -1.92px;

    margin-bottom: 50px;
  }
}

.accent-title {
  color: var(--brown);
}

@media only screen and (min-width: 768px) {
  .mentort-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 93px;
    column-gap: 100px;

    max-width: 474px;
    margin: 0 auto;
}
}

@media only screen and (min-width: 1280px) {
  .mentort-list {
    flex-wrap: nowrap;
    gap: 93px;

    max-width: 1013px;
    margin: 0 auto;
  }
}

.mentors-img {
  margin: 0 auto 16px auto;
}

.mentors-name {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;

  margin-bottom: 4px;
}

.mentors-text {
  color: var(--gray);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.mentors-item {
  margin-right: auto;
  margin-left: auto;
}

.mentors-item:nth-child(1),
.mentors-item:nth-child(2),
.mentors-item:nth-child(3) {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .mentors-item:nth-child(1),
  .mentors-item:nth-child(2),
  .mentors-item:nth-child(3) {
    margin-bottom: 0;
  }

}