.sign-up-section-headline{
    font-weight: 500;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .sign-up-section-headline {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
    
}
}

.sign-up-section-img {
    display: none;
}

@media only screen and (min-width: 1280px) {
.sign-up-section-img {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 38px;
    
    
}
}

.sign-up-section-up{
    color: var(--brown);
    font-family: DM Sans;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -0.04em;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
        .sign-up-section-up {
        color: var(--brown);
        font-size: 48px;
        font-weight: 500;
        line-height: 1.12;
        letter-spacing: -0.04em;
}
}

.sign-up-section-tagline{
    color: var(--white);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
    margin-bottom: 41px;
}

@media only screen and (min-width: 768px) {
        .sign-up-section-tagline {
        color: var(--white);
        font-size: 16px;
        font-style: normal;
         font-weight: 400;
        line-height: 1.25;
        letter-spacing: -0.02em;
}
}

.sign-up-section-form-input{
    width: 100%;
    height: 46px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background-color: #121212;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: var(--white);
    opacity: 0.7;
    transition: var(--trans-bezier);
    outline: none;
    resize: none
}

@media only screen and (min-width: 768px) {
    .sign-up-section-form-input {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
    height: 60px;
}
}

.sign-up-section-form-input:focus {
    color: var(--white);
    border: 1px solid var(--white);

}

.sign-up-section-form-input:active{
    color: var(--white);
    border: 1px solid var(--white);
}

.form-input-name{
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    .form-input-name {
     margin-bottom: 14px;
}
}

.form-input-tel{
    margin-bottom: 7px;
}

@media only screen and (min-width: 768px) {
.form-input-tel {
    margin-bottom: 13px;
}
}

.form-input-message{
    margin-bottom: 40px;
    padding-top: 15px;
    height: 112px;
}

@media only screen and (min-width: 768px) {
    .form-input-message {
        height: 119px;
        margin-bottom: 40px;
}
}

@media only screen and (min-width: 1280px) {
    .form-input-message {
        max-width: 480px;
}
}

.sign-up-section-button{
    width: 100%;
    border-radius: 12px;
    background-color: var(--white);
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    border: none;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
        .sign-up-section-button {
        max-width: 480px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 18px;
}
}

.sign-up-section-privacy-policy{
    color: rgba(255, 255, 255, 0.50);
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
}

@media only screen and (min-width: 768px) {
    .sign-up-section-privacy-policy {
            font-size: 14px;
            line-height: 1.2;
}
}

.privacy-policy-span{
    text-decoration: underline;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    word-spacing: -1px;
}

.tagline-br-mob{
    display: none;
}

@media only screen and (min-width: 768px) {
    .tagline-br-mob {
    display: block;
}
}

@media only screen and (min-width: 768px){
    
    .tagline-br-tablet{
        display: none;
}
}

@media only screen and (min-width: 1280px){
.sign-up-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.img-block-left{
    width: 180px;
    height: 280px;
    border-radius: 1000px;
    background-color:var(--brown);
 
}

.cartoon-left {
    /* padding: 76px 0px; */
    position: relative;
    top: 76px;
    left: 19px;
}

.img-block-right{
    width: 340px;
    height: 540px;
    border-radius: 1000px;
    background-color:var(--bg-black);
}

.cartoon-right{
    margin: 156px auto;

}
}

